@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --clr-primary: #327AAE;
    --clr-primary2: #1A4460;
    --clr-primary3: #DB5461;
    --clr-primary4: #CFC9C9;
    --clr-primary5: #b6d5e4;
    --clr-backgroundColor: #ECEAEA;
    --clr-white: #fff;
    --transition: all 0.3s linear;
    --transition2: all 0.5s linear;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppin' sans-serif;
    background-color: var(--clr-backgroundColor);
}

/* Menu Button */
button {
    transition: var(--transition);
}

#btn-menu {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 2.5rem;
    color: var(--clr-primary);
    background-color: transparent;
    border: transparent;
    animation: popping 1s infinite alternate;
}

button:hover {
    cursor: pointer;
}

#btn-menu:hover {
    opacity: 0.75;
}

@keyframes popping {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

/* Aside */

aside {
    position: fixed;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-white);
    transform: translateX(-100%);
    transition: var(--transition2);
}

.active {
    transform: translateX(0);
}

.aside-menu {
    width: 100vw;
}

/* Sidebar Header */
.aside-header {
    padding: 2rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 2rem;
    text-shadow: 1px 3px 4px var(--clr-primary4);
}

#logo-color {
    color: var(--clr-primary);
}

#btn-close {
    color: var(--clr-primary3);
    background-color: transparent;
    border: transparent;
    font-size: 2.5rem;
}

#btn-close:hover {
    transform: rotate(360deg);
    opacity: 0.75;
}

/* Sidebar Links */

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-weight: 500;
    text-align: center;
}

a {
    color: var(--clr-primary4);
    font-size: 2rem;
    text-decoration: none;
    transition: var(--transition);
}

li a {
    padding: 1.2rem 2rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

a:hover {
    cursor: pointer;
    color: var(--clr-primary);
}

li a:hover {
    background-color: var(--clr-primary5);
}

/* Social Media */

.social-media {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,1.5rem);
    gap: 2em;
    padding-bottom: 20px;
}

.social-media a:hover {
    transform: scale(1.2);
}

/* desktop and screen */

@media screen and (min-width: 768px){
    aside {
        width: fit-content;
    }

    .aside-menu {
        width: 100%;
    }

    .aside-header {
        width: 24rem;
        align-items: center;
    }

    li {
        text-align: inherit;
    }
    
    a {
        font-size: 1.5rem;
    }

    .social-media {
        gap: 1em;
    }
}